.main{
    padding-top: 100px;
}
.content{
    
    margin-left: 8%;
    margin-top:13%;
}
.content h1{
    font-size: 65px;
    color:rgb(255, 255, 255);
    margin-bottom: 20px;
}
span{
    color:rgb(255, 255, 255);

}
.content p{
    color:#cfd8c0;
    line-height: 30px;
}

.images{
    
    width: 45%;
    height:40%;
    position:absolute;
    bottom:0;
    right: 100px;
}
.images img{
    height:100%;
    position:absolute;
    left: 50%;
    bottom:0; 
    transform:translateX(-50%);
    transition: bottom 1s, left 1s;
}
.images:hover .bg{
        bottom: 40px;
}
.images:hover .me{
    left:45%;
}
@media (max-width: 600px) {}
    .content {
        margin: 20px 5px 0 5px;
        text-align: center;
    }
    .content h1 {
        font-size: 24px;
        margin-bottom: 10px;
    }
    .content p {
        font-size: 15px;
        line-height: 1.5;
        margin-bottom: 10px;
    }
    .images {
        position: static;
        width: 100%;
        height: auto;
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .images img {
        position: static;
        width: 90%;
        height: auto;
        transform: none;
        margin: 0 auto 10px auto;
        display: block;
    }